In [2]:
'''
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''

'\nQ1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple\n'

In [7]:
a="A string"
listt=["A list",1,0.45,"455##",344,"abc@abc.com",'Tuple',(1,2,3,4,5,6),[1,2,3,4,5,6],"1"]
b=55.55
tuplee=(1,2,3,4,5,6,(1,5,6,7,3))

In [8]:
'''
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
'''

'\nQ2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.\n'

In [9]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4 = 1
l = [var1,var2,var3,var4]

for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [10]:
'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

'\nQ3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **\n'

In [11]:
a=5/4 #Divides
b=5%2  #Print Remainder
c=29//3  #print the quotient, floor division
d=29**2   #raise to the power
l=[a,b,c,d]
for i in l:
    print(i)

1.25
1
9
841

In [12]:
'''
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''

'\nQ4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.\n'

In [13]:
listt=["A list",1,0.45,"455##",344,"abc@abc.com",'Tuple',(1,2,3,4,5,6),[1,2,3,4,5,6],"1"]
for i in listt:
    print(i,type(i))

A list <class 'str'>
1 <class 'int'>
0.45 <class 'float'>
455## <class 'str'>
344 <class 'int'>
abc@abc.com <class 'str'>
Tuple <class 'str'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>
[1, 2, 3, 4, 5, 6] <class 'list'>
1 <class 'str'>

In [14]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

'\nQ5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.\n'

In [4]:
a=300
b=3
c=0

if a%b==0:
    while (a-b)>=0:
        c=c+1
        a=a-b
else :
    print("not divisible")
    
print(c)

100

In [8]:
l=range(26)
for i in l:
    if i%3==0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [16]:
'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''
print("An object that allows you to change its values without changing its identity \nis a mutable object. The changes that you can perform on a mutable object\’s value are known as mutations.\nAn object that doesn’t allow changes in its value is an immutable object.\n\nList is mutable and Tuple is immutable")

An object that allows you to change its values without changing its identity
is a mutable object. The changes that you can perform on a mutable object\’s value are known as mutations.
An object that doesn’t allow changes in its value is an immutable object.

List is mutable and Tuple is immutable